@model RecruitmentTest.Features.OrderCommand

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Davey P's Italian Restaurant</h1>
    <p class="lead">Welcome to Davey P's Italian Restaurant. Please select your meal and payment type from the form below.</p>
    <p>@ViewBag.Message</p>
</div>

<div class="row">
    @using (Html.BeginForm(nameof(RecruitmentTest.Controllers.HomeController.Order), "Home", FormMethod.Post))
    {
        <div class="col-md-4">
            <h2>Menu</h2>

            @foreach (var newCourses in Model.NewCourses)
            @{ var index = 0; }
            {
                <h3>@newCourses.Name</h3>

                <ul>
                    @foreach (var dishes in newCourses.Dishes)
                    {
                        var inputName = $"{nameof(Model.NewCourses)}[0].{nameof(newCourses.Dishes)}[{index++}]";
                        <li>
                            @dishes.Name : £ @dishes.Price
                            <input type="hidden" name="@($"{inputName}.Id")" value="@dishes.Id" />
                            <input type="checkbox" name="@($"{inputName}.Ordered")" value="true" />
                        </li>
                    }
                </ul>
            }
            <h2>Payment Type</h2>
            <ul>
                <li>Debit card @Html.RadioButtonFor(model => model.PaymentTypeId, 1)</li>
                <li>Credit card @Html.RadioButtonFor(model => model.PaymentTypeId, 2)</li>
            </ul>
            <input type="submit" value="Order" />
        </div>
    }
</div>